/* App.css */
.animated-text {
    color: red;
    animation: fadeIn 2s ease-in-out infinite; /* Add "infinite" here */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  